.geeke-draggableWrapper {
  height: 0px;
  position: absolute;
  top: 0.35rem;
  transition-duration: 0.3s;
  cursor: -webkit-grab; cursor: grab;
}

.geeke-blockWrapper {
  position: relative;
}

.geeke-editorWrapper {
  margin: 0.2rem 0rem;
  padding: 0.3rem 3rem;
}

.geeke-selectedBlock {
  background-color: rgba(2, 141, 255, 0.2);
}
