.geeke-draggableWrapper {
  height: 0px;
  position: absolute;
  transition-duration: 0.3s;
  left: 1.6rem;
  top: 0.3rem;
}

.geeke-draggableWrapperInner {
  height: 1.6rem;
  width: 1.2rem;
  text-align: center;
  transition-duration: 0.15s;
  position: relative;
  border-radius: 20%;
}

.geeke-draggableButton {
  position: relative;
  top: 0.25rem;
}

.geeke-draggableWrapperInner:hover {
  background-color: rgba(124, 124, 124, 0.5)
}

.geeke-draggableCursor {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.geeke-draggableCursor:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.geeke-blockWrapper {
  position: relative;
  padding: 0.5rem 3rem;
}

.geeke-editorWrapper {
  padding: 0.4rem 3rem;
}

.geeke-selectedBlock {
  background-color: rgba(2, 141, 255, 0.2);
}

.geeke-editorDragMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: black 2px solid;
  z-index: 1;
}