/* Font */
html, body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* Other detailed */
.hide {
  display: none;
}

span.md-bold {
  color: gray;
}

span.md-bold {
  font-size: 0px;
  font-weight: 100;
}

b.md-focus span.md-bold {
  font-size: 1rem;
}