// Custimizable options

$fontColor: black;
$codeBlockFontColor: gray;

// End of custimizable options
// =========================================================================

// style

.hide {
  display: none;
}

// variables
$marker: (
  bold:b,
  italic:i,
  bold-italic:b,
  inline-code:code,
  link:a,
  escaperm:'span.md-escaper'
);
@for $i from 1 through 6 {
  $marker: append($marker, h#{$i}m 'span.md-h#{$i}');
}

// hide md marker
@each $item, $cover in $marker {
  .md-editor span.md-#{$item} {
    font-size: 0px;
    font-weight: unset;
  }
}

// patch font-weight under bold
.md-editor b.md-focus span.md-bold {
  font-weight: 100;
}

// show md marker
@each $item, $cover in $marker {
  .md-editor #{$cover}.md-focus span.md-#{$item} {
    font-size: unset;
  }
}

// patch escaper visibility in code block
.md-editor code .md-escaperm {
  font-size: 1rem;
  color: $codeBlockFontColor;
}

// End of variables
// =========================================================================
// Custimizable style

// Font
html, body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

// header size
$header-size: (2rem 1.5rem 1.17rem 1rem 0.83rem 0.67rem);
@for $i from 1 through 6 {
  .md-editor span.md-h#{$i} {
    font-size: nth($header-size, $i);
    font-weight: bold;
  }
}

// color of md marker when it is visible
@each $item, $cover in $marker {
  .md-editor span.md-#{$item} {
    color: gray;
  }
}

// inline code block style
.md-editor code {
  background-color: #f3f4f4;
  padding: 0 2px 0 2px;
  color: $codeBlockFontColor;
}
