/* General Geeke styles */

.geeke-disableDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.geeke-invisible {
  opacity: 0;
}

.geeke-inlineBlock {
  display: inline-block;
}

#geeke-getRem {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#geeke-drag {
  opacity: 0.4;
  position: fixed;
}

/* Copied from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}