// Custimizable options

$fontSize: 16px;
$fontColor: black;
$codeBlockFontColor: gray;
$lineHeight: 16px;
$indentSize: 1;
$paragraphPadding: 0.5rem;
$inParagraphPadding: 0.2rem;

.display-none {
  display: none;
}

.md-editor {
// End of custimizable options
// =========================================================================

// style
font-size: $fontSize;
min-height: 2rem;

.hide {
  display: none;
}

.hide-visible {
  display: initial;
  font-size: 0px;
}

// variables
$marker: (
  bold:b,
  italic:i,
  bold-italic:b,
  inline-code:code,
  link:a,
  escaperm:'span.md-escaper',
  strikethrough:del,
  seperatorm:'span.md-seperator'
);
@for $i from 1 through 6 {
  $marker: append($marker, h#{$i}m 'span.md-h#{$i}');
}

// hide md marker
@each $item, $cover in $marker {
  span.md-#{$item} {
    font-size: 0px;
    font-weight: unset;
  }
}

// show md marker
@each $item, $cover in $marker {
  div.md-focus #{$cover}.md-focus span.md-#{$item} {
    font-size: unset;
  }
}

// hide ulist marker
span.md-ulistm, span.md-olistm {
  font-size: 0px;
  white-space: pre;
  color: #999999;
  text-decoration: underline
}

// show ulist marker
div.md-ulist.md-focus span.md-ulistm.md-focus,
div.md-olist.md-focus span.md-olistm.md-focus {
  font-size: unset;
}

// patch font-weight under bold
b.md-focus span.md-bold {
  font-weight: 100;
}

// patch escaper visibility in code block
code .md-escaperm {
  font-size: unset;
  color: $codeBlockFontColor;
}

// seperator style
span.md-seperator {
  width: 100%;
  display: block;
  &:not(.md-focus)::after {
    content: " ";
    position: relative;
    top: -0.5rem;
    left: 0;
    width: 100%;
    display: block;
  }
}

// set list indent size
@for $i from 1 to 20 {
  .md-indent-#{$i} {
    margin-left: 1 + $indentSize * $i * 1rem;
  }
}

// list padding
.md-ulist, .md-olist {
  position: relative;
  padding: $inParagraphPadding 0rem;
}

// End of variables
// =========================================================================
// Custimizable style

// Font
font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

// paragraph style
&>div {
  padding: $paragraphPadding 0rem;
}

// header size
$header-size: (2rem 1.5rem 1.17rem 1rem 0.83rem 0.67rem);
@for $i from 1 through 6 {
  span.md-h#{$i} {
    font-size: nth($header-size, $i);
    font-weight: bold;
  }
}

// color of md marker when it is visible
@each $item, $cover in $marker {
  span.md-#{$item} {
    color: gray;
  }
}

// inline code block style
code {
  background-color: #f3f4f4;
  padding: 0 2px 0 2px;
  color: $codeBlockFontColor;
}

// seperator style
span.md-seperator::after {
  border-bottom: 1px solid #111;
}

// list style
span.md-ulist-dot::after {
  content: '•';
  position: absolute;
  left: -1rem;
  text-align: right;
}

span.md-olist-number::after {
  content: attr(olist-number);
  position: absolute;
  left: -1rem;
  text-align: right;
}

}