/* Variables */
:root {
  --fontSize: 1rem;
  --fontSizePageTitle: calc(var(--fontSize) * 3);

  --lineHeight: calc(var(--fontSize) * 1.4);

  --indentWidth: 1.6rem;
  --editorLeftPadding: 3rem;
  --editorTopPadding: 0.3rem;
  --dragButtonHoverColor: rgba(124, 124, 124, 0.5);
  --dragMaskHeight: 0.25rem;

  --specialBlockSelectionWidth: 0.3rem;
  --selectionColor: rgba(42, 165, 245, 0.5);
}


/* General Geeke styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--fontSize);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.geeke-disableDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.geeke-invisible {
  opacity: 0;
}

.geeke-inlineBlock {
  display: inline-block;
}

#geeke-getRem {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#geeke-drag {
  opacity: 0.4;
  position: fixed;
}

/* Copied from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Remove outline from Bootstrap button */
.btn:focus {
  outline: none;
  box-shadow: none;
}


/* Basic Block */
.geeke-draggableWrapper {
  height: 0px;
  position: absolute;
  transition-duration: 0.3s;
  left: 1.6rem;
  top: 0.25rem;
}

.geeke-draggableWrapperInner {
  height: 1.5rem;
  width: 1rem;
  text-align: center;
  transition-duration: 0.15s;
  position: relative;
  border-radius: 0.2rem;
}

.geeke-draggableWrapperInner:hover {
  background-color: var(--dragButtonHoverColor);
}

.geeke-draggableCursor {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.geeke-draggableCursor:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.geeke-blockWrapper {
  position: relative;
  padding: var(--editorTopPadding) var(--editorLeftPadding); /* editorTopPadding, editorLeftPadding */
  line-height: var(--lineHeight);
}

.geeke-editorWrapper {
  padding: 0.4rem 3rem;
}

.geeke-editorDragMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: black 2px solid;
  z-index: 1;
}


/* BlockDragMask */
.geeke-blockDragMask {
  position: fixed;
  bottom: 0px;
  height: 10px;
  left: 0px;
  right: 0px;
  height: var(--dragMaskHeight);
  z-index: -1;
}

.geeke-dragMask {
  display: inline-block;
  position: absolute;
  height: var(--dragMaskHeight);
}

.geeke-dragMaskRight {
  display: inline-block;
  height: var(--dragMaskHeight);
  position: absolute;
}


/* BlockSelector */
.geeke-selector {
  height: 0px;
  width: 0px;
  overflow: hidden;
}


/* BulletListBlock */
.geeke-bulletListMark {
  height: 0px;
  position: absolute;
  left: var(--editorLeftPadding);
  top: 0.15rem;
}

.geeke-bulletListMarkInner {
  height: 1.6rem;
  width: 1.6rem;
  font-size: calc(var(--fontSize) * 1.6);
  text-align: center;
  position: relative;
}

.geeke-bulletListEditor {
  margin-left: var(--indentWidth);
}


/* NumberedListBlock */
.geeke-numberedListMark {
  height: 0px;
  position: absolute;
  left: var(--editorLeftPadding);
  top: 0.3rem;
}

.geeke-numberedListMarkInner {
  text-align: right;
  position: relative;
  min-width: var(--indentWidth);
  right: 0.4rem;
}

.geeke-numberedListEditor {
  margin-left: var(--indentWidth);
}


/* CheckListBlock */
.geeke-checkListMark {
  height: 0px;
  position: absolute;
  left: var(--editorLeftPadding);
  top: -0.15rem;
}

.geeke-checkListMarkInner {
  text-align: right;
  position: relative;
  min-width: var(--indentWidth);
  right: 0.4rem;
}

.geeke-checkListEditor {
  margin-left: var(--indentWidth);
}


/* ToggleListBlock */
.geeke-toggleListMark {
  height: 0px;
  position: absolute;
  left: var(--editorLeftPadding);
  top: 0.2rem;
}

.geeke-toggleListMarkInner {
  text-align: right;
  position: relative;
  min-width: var(--indentWidth);
  right: -0.05rem;
  top: 0.05rem;
}

.geeke-toggleListImg {
  width: calc(var(--fontSize) * 1.5);
  height: calc(var(--fontSize) * 1.5);
  transform-origin: center;
  transition: transform 0.1s;
  cursor: pointer;
}

.geeke-toggleListImgOpen {
  transform: rotate(90deg);
}

.geeke-toggleListImgEmpty {
  /* Change color: https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
  filter: invert(57%) sepia(4%) saturate(0%) hue-rotate(350deg) brightness(94%) contrast(87%);
}

.geeke-toggleListEditor {
  margin-left: var(--indentWidth);
}


/* Page */
.geeke-pageBottom {
  height: 50%; /* TODO: To be adjusted */
}


/* PageDragShadow */
.geeke-pageDragShadow {
  position: fixed;
  opacity: 0.4;

  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


/* Quote */
.geeke-quoteBar {
  height: 0px;
  position: absolute;
  left: calc(var(--editorLeftPadding));
  top: 0rem;
}

.geeke-quoteBarInner {
  height: calc(var(--lineHeight) + var(--editorTopPadding) * 2);
  width: 0.25rem;
  background: gray;
  position: relative;
}

.geeke-quoteEditor {
  margin-left: var(--indentWidth);
  font-style: italic;
}


/* Heading */
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-block-start: 0rem !important;
  margin-block-end: 0rem !important;
}
.h1 {
  font-size: 2.5rem;
}
.h2 {
  font-size: 2rem;
}
.h3 {
  font-size: 1.75rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1.25rem;
}
.h6 {
  font-size: 1rem;
}


/* CodeEditor */
.geeke-codeEditor {
  min-height: 1rem;
}

.geeke-codeBlockEditor {
  /* height: 1px; */
  overflow: hidden;
  position: absolute;
}

.geeke-codeEditorWrapper {
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

/* Correct Ace editor style */
.ace_hidden-cursors .ace_cursor {
  opacity: 0 !important;
}

/* Hide gutter shadow when code editor is inactive */
div.ace_editor:not(.ace_focus) div.ace_gutter div .ace_gutter-active-line {
  background-color: rgba(1, 1, 1, 0) !important;
}

/* Make ace gutter will not block dropdown menu... */
.ace_gutter {
  z-index: 0;
}

/* Button style in code editor... */
.geeke-codeEditor-dropdownWrapper {
  position: relative;
  height: 0px;
}

.geeke-codeEditor-buttonWrapper {
  opacity: 0;
  transition: opacity 0.15s;
}

.geeke-codeEditor-buttonGroup {
  position: absolute;
  top: -1.5rem;
  height: 1.2rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.geeke-codeEditor-button {
  text-transform: none !important;
}

.geeke-codeEditor-button-active {
  background-color: unset;
  color: gray;
  opacity: 1;
}

.geeke-codeEditor-languageTextfieldWrapper {
  padding: 1rem 1rem 0.6rem 1rem;
}

.geeke-codeEditor-languageListWrapper, .geeke-codeEditor-themeListWrapper {
  height: 300px;
  width: 12rem;
  overflow-y: hidden;
}

.geeke-codeblockSettingMenu {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  /* line-height: 2rem; */
}

.geeke-codeBlockSelectionMask {
  border-radius: 0.4rem;
  top: calc(-1 * var(--specialBlockSelectionWidth));
  bottom: calc(-1 * var(--specialBlockSelectionWidth));
  left: calc(-1 * var(--specialBlockSelectionWidth));
  right: calc(-1 * var(--specialBlockSelectionWidth));
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0) solid var(--specialBlockSelectionWidth);
}

.geeke-codeBlockSelected {
  background-color: var(--selectionColor);
}


/* Popup Menu */
.geeke-popupMenuButton {
  min-width: 2rem !important;
  height: 2rem !important;
  padding: 3px 6px !important;
}

.geeke-popupMenuSeperator {
  width: 1px;
  height: 1.5rem;
  background-color: rgb(201, 201, 201);
  display: inline-flex;
  position: absolute;
  top: 0.25rem;
}

.geeke-popupMenu-dropdownIcon {
  color: rgba(128, 128, 128, 0.5) !important;
  position: relative;
  right: -0.25rem;
}

.geeke-popupMenu-Anchor {
  position: absolute;
}

.geeke-popupMenu-textColorButton {
  display: block;
}


/* PageTitle */
.Geeke-Page-Title {
  font-size: var(--fontSizePageTitle);
}