// Customizable styles
$editorPadding: 1rem 2rem;
$fontSize: 16px;
$fontColor: black;
$codeBlockFontColor: gray;
$lineHeight: 16px;
$indentSize: 1;
$inParagraphPadding: 0.2rem;
$fontFamily: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$header-size: (2rem 1.5rem 1.17rem 1rem 0.83rem 0.67rem);
$mdSymbolColor: gray;
// $paragraphPadding: 0.5rem;

// Fixed styles

.md-editor {
  // Temporary visible for debugging
  border: solid 1px purple;

  // Padding from border to text
  padding: $editorPadding;

  // Font stypes
  font-size: $fontSize;
  color: $fontColor;
  font-family: $fontFamily;
  // line-height: $lineHeight;

  // show all white space
  white-space: pre;

  // Hide marker
  .hide {
    display: none;
  }

  // variables for hidding
  $marker: (
    bold:b,
    italic:i,
    bold-italic:b,
    inline-code:code,
    link:a,
    escaperm:'span.md-escaper',
    strikethrough:del,
    seperatorm:'span.md-seperator',
    // quotem:'div.md-quote',
  );
  @for $i from 1 through 6 {
    $marker: append($marker, h#{$i}m 'span.md-h#{$i}');
  }

  // hide md marker
  @each $item, $cover in $marker {
    span.md-#{$item} {
      font-size: 0px;
      font-weight: unset;
    }
  }

  // show md marker
  @each $item, $cover in $marker {
    div.md-focus #{$cover}.md-focus span.md-#{$item} {
      font-size: unset;
    }
  }

  // quote style
  .md-quote {
    color: gray;
    border-left: rgba(0, 0, 0, 0.1) solid 4px;
    padding: 0.5rem 0rem 0.5rem 1rem;
    margin: 0.5rem 0rem;
  }

  // hide block marker
  span.md-blockm {
    font-size: 0px;
    color: #999999;
    text-decoration: underline
  }

  // show block marker
  div.md-ulist.md-focus span.md-blockm.md-focus,
  div.md-olist.md-focus span.md-blockm.md-focus,
  div.md-quote.md-focus span.md-blockm.md-focus {
    font-size: unset;
  }

  // patch font-weight under bold
  b.md-focus span.md-bold {
    font-weight: 100;
  }

  // patch escaper visibility in code block
  code .md-escaperm {
    font-size: unset;
    color: $codeBlockFontColor;
  }

  // seperator style
  span.md-seperator {
    width: 100%;
    display: block;
    &:not(.md-focus)::after {
      content: " ";
      position: relative;
      top: -0.5rem;
      left: 0;
      width: 100%;
      display: block;
    }
  }

  // set list indent size
  @for $i from 1 to 20 {
    .md-indent-#{$i} {
      margin-left: 1 + $indentSize * $i * 1rem;
    }
  }

  // list padding
  .md-ulist, .md-olist {
    position: relative;
    padding: $inParagraphPadding 0rem;
    // line-height: $lineHeight;
  }

  // paragraph style
  // &>div {
  //   padding: $paragraphPadding 0rem;
  // }

  // header size
  @for $i from 1 through 6 {
    span.md-h#{$i} {
      font-size: nth($header-size, $i);
      font-weight: bold;
    }
  }

  // color of md marker when it is visible
  @each $item, $cover in $marker {
    span.md-#{$item} {
      color: $mdSymbolColor;
    }
  }

  // inline code block style
  code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
    color: $codeBlockFontColor;
  }

  // seperator style
  span.md-seperator::after {
    border-bottom: 1px solid #111;
  }

  // list style
  span.md-ulist-dot::after {
    content: '•';
    font-size: 2rem;
    position: absolute;
    right: 100%;
    top: -0.57rem;
    padding-right: 0.5rem;
    text-align: right;
  }

  span.md-olist-number::after {
    content: attr(olist-number);
    position: absolute;
    right: 100%;
    padding-right: 0.5rem;
    text-align: right;
  }

  .md-para {
    margin: 0.5rem 0rem;
  }

  .hide-visible {
    display: initial;
    font-size: 0px;
  }
}

.md-editor:focus {
  outline: none;
}
